<%= link_to user_recipe_url(current_user, recipe) do %>
  <div>
    <h2>
      <%= recipe.name %>
    </h2>

    <p>
      <%= recipe.description %>
    </p>

    <%= button_to "Remove", user_recipe_path(current_user, recipe), method: :delete %>
  </div>
<% end %>
