<%= link_to "<-- Back to user profile", user_url(current_user) %>
<%= link_to "New recipe", new_user_recipe_path %>

<h1>Recipes</h1>

<% if @recipes.empty? %>
  <p>Your recipes list is empty.</p>
<% else %>
  <div id="recipes">
    <% @recipes.includes(:user).each do |recipe| %>
      <%= render recipe %>
    <% end %>
  </div>
<% end %>

