<h1> Public recipes </h1>

<% @recipes.includes(:user).each do |recipe| %>
  <%= link_to user_recipe_url(recipe.user, recipe), :action => 'go' do %>
    <div> 
      <p> <%= recipe.name %> </p>
      <p> By <%= recipe.user.name%> <p>
      <p> Total food items: <%= recipe.recipe_foods.count%>
      
    </div>
  <% end %>
<% end %>