<p style="color: green"><%= notice %></p>
<%= link_to "<-- Back to user profile", user_url(current_user) %>

<%= link_to "New food", new_user_food_url %>
<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
  <% end %>
</div>
