<section id="public-recipes-list">
  <h1>New food</h1>

  <%= render "form", food: @food %>

  <div>
    <%= link_to "Back to Food list", user_foods_url(current_user), class: "back-to" %>
  </div>
</section>
