<div id="<%= dom_id recipe_food %>">
  <p>
    <strong>Quantity:</strong>
    <%= recipe_food.quantity %>
  </p>

  <p>
    <strong>Recipes:</strong>
    <%= recipe_food.recipes_id %>
  </p>

  <p>
    <strong>Foods:</strong>
    <%= recipe_food.foods_id %>
  </p>

</div>
