<section id="public-recipes-list">
  <h1>Select one ingredient from your food list</h1>

  <%= render "form", recipe_food: @recipe_food %>

  <br>

  <div>
    <%= link_to "Back to recipe", :back %>
  </div>
</section>