@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: $background-color;
  @include flex(column, center);

  h2,
  p {
    margin-bottom: 1rem;
  }
}

.flex-start {
  align-self: flex-start
}

.login-container {
  @include flex(column, center);
  width: 30%;
  padding: 2rem;
  background: rgba(200, 200, 200, 0.2);
  border-radius: 20px;
  box-shadow: 20px 15px 80px -25px #000;

  &-links {
    @include flex(column, center);
  }
}

.sign-up {
  margin-bottom: 1rem;
}

.new_user {
  @include flex(column, center);

  & > * {
    margin-bottom: 1rem;
  }
}

.login-button {
  padding: 0.3rem 2rem;
  border-radius: 20px;
  border: 0;
}
