$main-color: rgb(141, 28, 0);
$background-color: linear-gradient(90deg, #d53369 0%, #daae51 100%);

@mixin flex ($position, $justify) {
  display: flex;
  flex-direction: $position;
  justify-content: $justify;
  align-items: center;
  margin: auto;
}
