@import 'mixins';

#public-recipes-list {
  @include flex(column, center);
  width: 80%;
}

.public-link {
  width: 100%;
  margin-bottom: 2rem;
}

.public-recipe {
  @include flex(row, space-between);
  @include box(1rem);
  text-align: center;

  &-section {
    width: 50%;

    &__title {
      // display: block;
      font-size: $font-title;
      // width: 0%;
    }
  }
}


